In [183]:
ibm_data=read.csv("IBM-2.csv")

In [184]:
str(ibm_data)
head(ibm_data)

'data.frame':	251 obs. of  7 variables:
 $ Date     : Factor w/ 251 levels "2018-01-02","2018-01-03",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Open     : num  154 157 160 162 163 ...
 $ High     : num  155 160 162 163 164 ...
 $ Low      : num  154 156 159 161 162 ...
 $ Close    : num  154 158 162 162 163 ...
 $ Adj.Close: num  139 143 146 147 148 ...
 $ Volume   : int  4202500 9441600 7556200 5195800 5237500 4341800 4174100 3794500 5031900 7794200 ...

  Date       Open   High   Low    Close  Adj.Close Volume
1 2018-01-02 154.50 154.81 153.54 154.25 139.3655  4202500
2 2018-01-03 157.34 159.81 156.33 158.49 143.1963  9441600
3 2018-01-04 159.65 162.32 159.37 161.70 146.0966  7556200
4 2018-01-05 162.44 162.90 161.10 162.49 146.8103  5195800
5 2018-01-08 162.66 163.91 161.70 163.47 147.6958  5237500
6 2018-01-09 163.90 164.53 163.06 163.83 148.0210  4341800

In [185]:
msft_data=read.csv("MSFT.csv")
head(msft_data)

  Date       Open  High  Low   Close Adj.Close Volume
1 2018-01-02 86.13 86.31 85.50 85.95 83.25638  22483800
2 2018-01-03 86.06 86.51 85.97 86.35 83.64384  26061400
3 2018-01-04 86.59 87.66 86.57 87.11 84.38003  21912000
4 2018-01-05 87.66 88.41 87.43 88.19 85.42618  23407100
5 2018-01-08 88.20 88.58 87.60 88.28 85.51336  22113000
6 2018-01-09 88.65 88.73 87.86 88.22 85.45524  19484300

In [186]:
goog_data=read.csv("GOOG.csv")
head(goog_data)

  Date       Open    High    Low      Close   Adj.Close Volume
1 2018-01-02 1048.34 1066.94 1045.230 1065.00 1065.00   1237600
2 2018-01-03 1064.31 1086.29 1063.210 1082.48 1082.48   1430200
3 2018-01-04 1088.00 1093.57 1084.002 1086.40 1086.40   1004600
4 2018-01-05 1094.00 1104.25 1092.000 1102.23 1102.23   1279100
5 2018-01-08 1102.23 1111.27 1101.620 1106.94 1106.94   1047600
6 2018-01-09 1109.40 1110.57 1101.231 1106.26 1106.26    902500

In [187]:
aapl_data=read.csv("AAPL.csv")
head(aapl_data)

  Date       Open   High   Low    Close  Adj.Close Volume
1 2018-01-02 170.16 172.30 169.26 172.26 166.8040  25555900
2 2018-01-03 172.53 174.55 171.96 172.23 166.7750  29517900
3 2018-01-04 172.54 173.47 172.08 173.03 167.5496  22434600
4 2018-01-05 173.44 175.37 173.05 175.00 169.4572  23660000
5 2018-01-08 174.35 175.61 173.93 174.35 168.8278  20567800
6 2018-01-09 174.55 175.06 173.41 174.33 168.8085  21584000

In [188]:
amzn_data=read.csv("AMZN.csv")
head(amzn_data)

  Date       Open    High    Low     Close   Adj.Close Volume
1 2018-01-02 1172.00 1190.00 1170.51 1189.01 1189.01   2694500
2 2018-01-03 1188.30 1205.49 1188.30 1204.20 1204.20   3108800
3 2018-01-04 1205.00 1215.87 1204.66 1209.59 1209.59   3022100
4 2018-01-05 1217.51 1229.14 1210.00 1229.14 1229.14   3544700
5 2018-01-08 1236.00 1253.08 1232.03 1246.87 1246.87   4279500
6 2018-01-09 1256.90 1259.33 1241.76 1252.70 1252.70   3661300

In [189]:
fb_data=read.csv("FB.csv")
head(fb_data)

  Date       Open   High   Low    Close  Adj.Close Volume
1 2018-01-02 177.68 181.58 177.55 181.42 181.42    18151900
2 2018-01-03 181.88 184.78 181.33 184.67 184.67    16886600
3 2018-01-04 184.90 186.21 184.10 184.33 184.33    13880900
4 2018-01-05 185.59 186.90 184.93 186.85 186.85    13574500
5 2018-01-08 187.20 188.90 186.33 188.28 188.28    17994700
6 2018-01-09 188.70 188.80 187.10 187.87 187.87    12393100

In [190]:
ibm_data<-as.data.frame(ibm_data$Adj.Close)
head(ibm_data)

  ibm_data$Adj.Close
1 139.3655
2 143.1963
3 146.0966
4 146.8103
5 147.6958
6 148.0210

In [191]:
tail(ibm_data)

    ibm_data$Adj.Close
246 104.7685
247 101.5860
248 105.1935
249 107.4505
250 106.7423
251 107.3467

In [192]:
typeof(ibm_data)

[1] "list"

In [193]:
str(ibm_data)

'data.frame':	251 obs. of  1 variable:
 $ ibm_data$Adj.Close: num  139 143 146 147 148 ...

In [194]:
msft_data<-as.data.frame(msft_data$Adj.Close)
goog_data<-as.data.frame(goog_data$Adj.Close)
aapl_data<-as.data.frame(aapl_data$Adj.Close)
amzn_data<-as.data.frame(amzn_data$Adj.Close)
fb_data<-as.data.frame(fb_data$Adj.Close)

In [195]:
names(ibm_data)[1]<-"IBM"
names(msft_data)[1]<-"MSFT"
head(msft_data)
names(goog_data)[1]<-"GOOG"
names(aapl_data)[1]<-"AAPL"
names(amzn_data)[1]<-"AMZN"
names(fb_data)[1]<-"FB"

  MSFT
1 83.25638
2 83.64384
3 84.38003
4 85.42618
5 85.51336
6 85.45524

In [196]:
str(ibm_data)
str(msft_data)
str(goog_data)
str(aapl_data)
str(amzn_data)
str(fb_data)
typeof(ibm_data)

'data.frame':	251 obs. of  1 variable:
 $ IBM: num  139 143 146 147 148 ...
'data.frame':	251 obs. of  1 variable:
 $ MSFT: num  83.3 83.6 84.4 85.4 85.5 ...
'data.frame':	251 obs. of  1 variable:
 $ GOOG: num  1065 1082 1086 1102 1107 ...
'data.frame':	251 obs. of  1 variable:
 $ AAPL: num  167 167 168 169 169 ...
'data.frame':	251 obs. of  1 variable:
 $ AMZN: num  1189 1204 1210 1229 1247 ...
'data.frame':	251 obs. of  1 variable:
 $ FB: num  181 185 184 187 188 ...

[1] "list"

In [197]:
first_term <- function(x,y){
    first=0
    deno_1=0
    deno_2=0
    z=0
    mean_x=colMeans(x,na.rm=TRUE)
    mean_y=colMeans(y,na.rm=TRUE)
    for (i in 1:251){
        
        first=first+((x[i,1]-mean_x)*(y[i,1]-mean_y))
    }
    for (i in 1:251){
        deno_1=deno_1+((x[i,1]-mean_x)**2)
        deno_2=deno_2+((y[i,1]-mean_y)**2)
    }
    z=first/sqrt(deno_1*deno_2)
    return(z)
}
cor_list=c()                                                  

    i<-first_term(ibm_data,msft_data)
cor_list[["IBM:MSFT"]]<-i
    i<-first_term(ibm_data,goog_data)
cor_list[["IBM:GOOG"]]<-i
    i<-first_term(ibm_data,aapl_data)
cor_list[["IBM:AAPL"]]<-i
    i<-first_term(ibm_data,amzn_data)
cor_list[["IBM:AMZN"]]<-i
    i<-first_term(ibm_data,fb_data)
cor_list[["IBM:FB"]]<-i
    i<-first_term(msft_data,goog_data)
cor_list[["MSFT:GOOG"]]<-i
    i<-first_term(msft_data,aapl_data)
cor_list[["MSFT:AAPL"]]<-i
    i<-first_term(msft_data,amzn_data)
cor_list[["MSFT:AMZN"]]<-i
    i<-first_term(msft_data,fb_data)
cor_list[["MSFT:FB"]]<-i
    i<-first_term(goog_data,aapl_data)
cor_list[["GOOG:AAPL"]]<-i
    i<-first_term(goog_data,amzn_data)
cor_list[["GOOG:AMZN"]]<-i
    i<-first_term(goog_data,fb_data)
cor_list[["GOOG:FB"]]<-i
    i<-first_term(aapl_data,amzn_data)
cor_list[["AAPL:AMZN"]]<-i
    i<-first_term(aapl_data,fb_data)
cor_list[["AAPL:FB"]]<-i
    i<-first_term(amzn_data,fb_data)
cor_list[["AMZN:FB"]]<-i

In [198]:
cor_list[order(cor_list,decreasing=TRUE)]

  MSFT:AMZN   AAPL:AMZN   MSFT:AAPL   GOOG:AMZN      IBM:FB   GOOG:AAPL
 0.87278228  0.84025287  0.78679825  0.66024658  0.63036597  0.58581851
    GOOG:FB   MSFT:GOOG    IBM:GOOG     AMZN:FB    IBM:AAPL     AAPL:FB
 0.52920171  0.46130294  0.42742971  0.05335780 -0.01132016 -0.02654476
   IBM:AMZN     MSFT:FB    IBM:MSFT
-0.09413315 -0.29411409 -0.41837141

In [199]:
cor(ibm_data,msft_data,method="pearson")

    MSFT
IBM -0.4183714

In [200]:
cor(ibm_data,goog_data,method="pearson")

    GOOG
IBM 0.4274297